/* CSS Document */
body {
	background: black;
	background: -webkit-radial-gradient(circle, #515151, #000);
	background: -o-radial-gradient(circle, #515151, #000);
	background: -moz-radial-gradient(circle, #515151, #000);
	background: radial-gradient(circle, #515151, #000);
}

#header {
	border-bottom: 1px solid #F6A017;
	text-align: center;
}

header > img#logo {
	min-width: 300px;
	width: 50%;
	margin: 30px 10px;
}

.navbar{
	margin-bottom: 0px;
}

#main{
	background-color: #fff;
}